<h1 style="color:blue">Log in Doctor</h1>

<form method="post">
    <input type="text" name="username" class="form-control" placeholder="Apellido" required />
    <input type="text" name="password" class="form-control" placeholder="Password" required />

    <button type="submit" class="btn btn-success">Log In</button>
</form>

<h2 style="color:red">@ViewData["MENSAJE"]</h2>
